##This is the first code in visual studio code about 
#BASICS OF PYTHON

In [5]:
print("Hello World")

Hello World

In [6]:
name = "abhay"

In [7]:
name.upper()

'ABHAY'

In [8]:
name.title()

'Abhay'

In [10]:
name.find('bh')

1

In [11]:
frnd = ["Abhay","Bipin","Sunil","Anish","Himanshu"]

In [13]:
frnd.append("Sheelendra")  # adding element at last using append method in list
print(frnd)

['Abhay', 'Bipin', 'Sunil', 'Anish', 'Himanshu', 'Sheelendra']

In [14]:
print(frnd.index("Himanshu")) #all these are method for getting the value or index number of any specified value
print(frnd[4])
print(frnd.__getitem__(4))

4
Himanshu
Himanshu

In [15]:
frnd[4] = "Gupta"  # method for replacing any value at the specified index
print(frnd)

['Abhay', 'Bipin', 'Sunil', 'Anish', 'Gupta', 'Sheelendra']

In [16]:
print('Abhay' in frnd)   # method for finding that any elements are present inside list or not
print(frnd.__contains__('Abhay'))

True
True

In [17]:
enumerate(frnd)   # this method is used for getting index along with value of any list
print(list(enumerate(frnd)))

[(0, 'Abhay'), (1, 'Bipin'), (2, 'Sunil'), (3, 'Anish'), (4, 'Gupta'), (5, 'Sheelendra')]

In [18]:
list((i-len(frnd),n)
    for i, n in enumerate(frnd))

[(-6, 'Abhay'),
 (-5, 'Bipin'),
 (-4, 'Sunil'),
 (-3, 'Anish'),
 (-2, 'Gupta'),
 (-1, 'Sheelendra')]

SLICING

In [19]:
frnd[0:3]

['Abhay', 'Bipin', 'Sunil']

In [20]:
frnd[:3]

['Abhay', 'Bipin', 'Sunil']

In [21]:
frnd[3]

'Anish'

In [22]:
frnd[:]

['Abhay', 'Bipin', 'Sunil', 'Anish', 'Gupta', 'Sheelendra']

In [23]:
frnd

['Abhay', 'Bipin', 'Sunil', 'Anish', 'Gupta', 'Sheelendra']

In [24]:
frnd[3:]

['Anish', 'Gupta', 'Sheelendra']

In [25]:
frnd[-2:]

['Gupta', 'Sheelendra']

In [ ]:
frnd1 = frnd[:] #shallow copies is created whenever you need a backup or need for multiple copies for various uses

In [27]:
id(frnd1)

1605193833472

In [28]:
id(frnd)

1605193861568

In [29]:
frnd1

['Abhay', 'Bipin', 'Sunil', 'Anish', 'Gupta', 'Sheelendra']

In [31]:
frnd[0] in frnd1[0]

True

In [32]:
frnd == frnd1

True

In [ ]:
frnd[::-1]  #strides is used for mentioning how you have jumped over, how much step

['Sheelendra', 'Gupta', 'Anish', 'Sunil', 'Bipin', 'Abhay']

In [35]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# literals and constructor of dictionaries
types = {"name":str, "age":int, "address":str}
types2 = dict(name=str,age=int,address=str)

In [3]:
types['name']

str

In [5]:
types['languages'] = str

In [6]:
types

{'name': str, 'age': int, 'address': str, 'languages': str}

In [7]:
#  creates a dictionary of inventory which has the value of the name of the movie, cast(actor name) or total revenue
# these 3 should contain atleast 5 value each

In [24]:
movies = {
    "movie-name": ["Dangal", "Bahubali", "Pushpa", "RRR", "KGF"],
    "cast": ["Aamir Khan", "Prabhas", "Allu Arjun", "Ram Charan", "Yash"],
    "total-revenue": [2000, 1800, 1600, 1300, 1200]
}

user_input = input("Enter movie name: ").title()

found = False

for i in range(len(movies["movie-name"])):
    if movies["movie-name"][i].title() == user_input:
        print(
            f"{movies['movie-name'][i].title()} movie casted by "
            f"{movies['cast'][i].title()} and revenue generated by this company is "
            f"{movies['total-revenue'][i]}"
        )
        found = True
        break

if not found:
    print("Movie not found")

Bahubali movie casted by Prabhas and revenue generated by this company is 1800

Comprehension

In [ ]:
# pattern for list comprehension   #most important for hackerank
names = ["Abhay","Bipin","Sunil","John","Paul"]

names2 = []
for name in names:
    if len(name) == 4:
        names2.append(name.title())   # title is mapping
names2

['John', 'Paul']

In [4]:
names2 = [name.title() for name in names if len(name) == 4]

In [6]:
names3 = [name.title() for name in names if len(name) == 4]
names3

['John', 'Paul']

In [7]:
# Dict Comprehension
types = {'name':str,'age':int,'address':str}

In [8]:
new_names = {}
for t in types:
    new_names[t] = t.title()
new_names

{'name': 'Name', 'age': 'Age', 'address': 'Address'}

In [ ]:
new_names = {t: t.title() for t in types}
new_names

{'name': 'Name', 'age': 'Age', 'address': 'Address'}

In [11]:
new_names = {t:t.title() for t in types}
new_names

{'name': 'Name', 'age': 'Age', 'address': 'Address'}

Functions and Lambda

In [12]:
def add(x,y):
    """This add two vairable"""
    return x+y

In [13]:
add(5,6)

11

In [14]:
#Lambda Functions
adder2 = lambda x,y: x+y

In [15]:
adder2(40,50)

90

In [16]:
add(40,50) == adder2(40,50)

True

In [17]:
cube = lambda x: x*x*x

In [18]:
cube(3)

27

In [19]:
cube(4)

64

In [21]:
def roots(val):
    return (val**.5, -(val**.5))

In [24]:
roots2 = lambda val: (val**.5,-(val**.5))

In [23]:
roots(64)

(8.0, -8.0)

In [25]:
roots2(64)

(8.0, -8.0)

In [26]:
# Lambdas in sorting
names = ['john','paul','george','ringe']

In [27]:
sorted(names)

['george', 'john', 'paul', 'ringe']

In [28]:
sorted(names, key=lambda name: len(name))

['john', 'paul', 'ringe', 'george']

## Lambda Uses
# useful for "Key" functions when sorting
# pandas creating columns with .assign

Modules & Packages

In [29]:
# Module - python file
# Package - Directory with __init__.py file (and other packages or modules)

In [30]:
import math
import pandas as pd

In [35]:
math

In [33]:
pd

In [36]:
math.sin(0)

0.0

In [37]:
math.cos(0)

1.0

# Classes

Everything is an object,you can define your own class  to group common actions with data

In [ ]:
class MyInt:
    '''docstring for MyInt'''
    def __init__(self,val):
        self.value = val
        
    def __add__(self, other):
        return MyInt(self.value + other)
    
    def __repr__(self):
        return f'MyInt({self.value})'

In [8]:
my_str = 'ABHAY KUMAR'

In [ ]:
print(my_str.isalnum())   #check for alpha numeric characters
print(my_str.isalpha())   #check if all char iin the string are alpha
print(my_str.isdigit())   #test if string contains digits
print(my_str.istitle())   #test if string contains title words
print(my_str.isupper())   #test if string contains upper words
print(my_str.islower())   #test if string contains lower words
print(my_str.isspace())   #test if string contsins spaces
print(my_str.endswith('K'))   #test if string endswith specified character
print(my_str.startswith('A'))   #test if string startswith specified character

False
False
False
False
True
False
False
False
True

In [10]:
# Methods of list
lst = ['Abhay','Bipin']

In [13]:
lst.insert(1,'Sheelendra')   #insert method takes 2 parameters, first: at which position you want to insert
                                                              # second: value that you want to insert

In [14]:
lst

['Abhay', 'Sheelendra', 'Sheelendra', 'Bipin']

In [15]:
# Extend methods
lst1 = [1,2,3,4,5,6]

In [16]:
lst1.extend([8,9])

In [17]:
lst1

[1, 2, 3, 4, 5, 6, 8, 9]

In [20]:
# pop method
lst1.pop()

9

In [21]:
lst1

[1, 2, 3, 4, 5, 6, 8]

In [22]:
lst

['Abhay', 'Sheelendra', 'Sheelendra']

In [23]:
lst1.pop(0)

1

In [24]:
lst1

[2, 3, 4, 5, 6, 8]

In [33]:
lst1.count(2)  # parameters sould be the value not index number which you want to count

1

In [34]:
len(lst1)

6

In [37]:
lst1.index(3)

1

In [38]:
min(lst1)

2

In [39]:
max(lst1)

8

# Sets

A set is an unordered collection data-types that is iterable, mutable, and has no duplicates elements. 
Python's set class represents the mathematical notion of a set. This is based on a data structure known as hash table

In [45]:
ab = {"Abhay","Bipin","Sunil","Abhay"}
print(ab)
print(type(ab))

{'Abhay', 'Sunil', 'Bipin'}
<class 'set'>

In [48]:
# inbuilt function in sets for adding
ab.add("Pallavi")

In [49]:
ab

{'Abhay', 'Bipin', 'Pallavi', 'Sunil'}

In [50]:
set1 = {"Avengers","Ironman","Hitman"}
set2 = {"Avengers","Ironman","Hitman","Hulk"}

In [51]:
set2.intersection_update(set1)

In [52]:
set2

{'Avengers', 'Hitman', 'Ironman'}

In [55]:
set3 = {"Abhay","Bipin","Sunil"}
set4 = {"Abhay","Bipin","Sunil","Himanshu"}

In [57]:
set3.intersection(set4)

{'Abhay', 'Bipin', 'Sunil'}

In [61]:
set4.difference(set3)

{'Himanshu'}

In [62]:
set4.difference_update(set3)

In [63]:
set3

{'Abhay', 'Bipin', 'Sunil'}

In [64]:
set4

{'Himanshu'}

# Nested Dictionary

In [67]:
car1_model = {'mercedes': 1960}
car2_model = {'Audi': 1970}
car3_model = {'Ambassdor': 1980}

In [68]:
car_type = {'car1': car1_model, 'car2': car2_model, 'car3': car3_model}

In [69]:
car_type

{'car1': {'mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassdor': 1980}}

In [70]:
print(car_type['car1'])

{'mercedes': 1960}

In [73]:
print(car_type['car2']['Audi'])

1970

# Tuples

In [74]:
my_tuple = tuple()

In [75]:
my_tuple1 = ()

In [76]:
type(my_tuple)

tuple

In [77]:
type(my_tuple1)

tuple

In [78]:
my_tuple = ("Abhay","Bipin","Sunil","Himanshu","Abhay")

In [81]:
# inbuilt functions
my_tuple.count("Abhay")

2

In [85]:
my_tuple.index("Bipin")

1

In [98]:
# study diference between shallow copy and deep copy
# we make shallow copy by just using .copy() method but we make deep copy like this lst1 = lst2
# after making shallow copy, if we make changes in any list then it will make changes in that particular list only
# after making deep copy, if we make changes in any list then it will make chnages in both the list

In [100]:
# shallow copy
lst1 = [1,2,3,4]     
lst2 = lst1.copy()

In [101]:
lst1, lst2

([1, 2, 3, 4], [1, 2, 3, 4])

In [102]:
lst2[1] = 100
lst2

[1, 100, 3, 4]

In [103]:
lst1, lst2

([1, 2, 3, 4], [1, 100, 3, 4])

In [104]:
# deep copy
lst1 = [1,2,3,4]
lst2 = lst1

In [105]:
lst2, lst1

([1, 2, 3, 4], [1, 2, 3, 4])

In [106]:
lst2[1] = 100

In [107]:
lst1, lst2

([1, 100, 3, 4], [1, 100, 3, 4])

In [108]:
# shallow copy in nested list
lst1 = [[1,2,3,4],[5,6,7.8]]
lst2 = lst1.copy()

In [109]:
lst1[1][0] = 100

In [110]:
lst1

[[1, 2, 3, 4], [100, 6, 7.8]]

In [116]:
# using deep copy in nested list
import copy
lst1 = [[1,2,3,4],[5,6,7,8]]
lst2 = copy.deepcopy(lst1)

In [117]:
lst2[1][0] = 100

In [118]:
lst1, lst2

([[1, 2, 3, 4], [5, 6, 7, 8]], [[1, 2, 3, 4], [100, 6, 7, 8]])

is vs ==

In [122]:
lst10 = ["Abhay","Bipin"]
lst20 = ["Abhay","Bipin"]

In [123]:
lst10 == lst20

True

In [125]:
lst20 is lst10

False

# Eval function

How Does Eval Work:- 
1.parse the function
2.compile into a byte code
3.evaluate the python expression
4.it will return the result

In [5]:
var = compile("5*5","<strings>","eval")

In [6]:
eval(var)

25

In [7]:
x = 10
eval("x+50+x**2",{"x":x})

160

In [8]:
x=100
z=100
eval("x+z+w",{"x":x,"z":100,"w":1000})

1200

In [9]:
a=100
b=200
eval("a>b")

False

Python Exception Handling

In [ ]:
# try-except
try:
    #code block where exception can occur
    a = 1
    b = "s"
    c = a+b
except NameError as exit:        # NameErrorhs
    print("The user has not defined the variable")
except Exception as ex:
    print(ex)

unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# try-except-else
try:
    a = int(input("Enter the number 1: "))
    b = int(input("Enter the number 2: "))
    c=a/b
    d=a*b
    e=a+b
except NameError:
    print("The user has not define the variable")
except ZeroDivisionError:
    print("please provide the number greater than 0")
except TypeError:
    print("Try to make the datatype similar")
except Exception as ex:
    print(ex)
else:
    print(c)
    print(d)
    print(e)

please provide the number greater than 0

In [ ]:
#try-else-except with finally
try:
    a = int(input("Enter the number 1: "))
    b = int(input("Enter the number 2: "))
    c=a/b
except NameError:
    print("The user has not define the variable")
except ZeroDivisionError:
    print("please provide the number greater than 0")
except TypeError:
    print("Try to make the datatype similar")
except Exception as ex:
    print(ex)
else:
    print(c)
finally:
    print("The execution has done")

1.5
The execution has done

In [19]:
# custom exception handling
class Error(Exception):
    pass

class dobException(Error):
    pass

In [23]:
year = int(input("Enter the year fo birth: "))
age = 2021 - year
try:
    if age <= 30 & age > 20:
        print("The age is valid. you can apply for the exams")
    else:
        raise dobException
except dobException:
    print("The age is not within the range. you cannot apply for the exams")

The age is not within the range. you cannot apply for the exams

In [ ]:
# UV package manager

In [2]:
# django-admin startproject myproject(project name) (directory name)

In [ ]:
# python manage.py migrate(it is used to apply unchnaged to changes in database schema)
# python manage.py runserver(it is used to run the server)
# python manage.py startapp appname(it is used to create/start app inside the project)

In [4]:
# to create your app, make sure you're inside the project directory in terminal and then run the command python manage.py startapp appname